:root {
  --main-color-white: #ffffff;
  --secondary-color-grey: #969696;
  --item-color-grey: #d0d0d0;
  --main-background-color-darkgrey: #0f0f0f;
  --secondary-background-color-black: #000000;
  --item-background-color-grey: #191b1c;
  --hover-background-color-grey: #1f1f1f;
}

body {
  font-family: "Playfair Display", serif;
  font-family: "PT Sans", sans-serif;
  padding: 0;
  margin: 0 auto;
  max-width: 1920px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: var(--main-color-white);
}

*::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;

  color: var(--main-color-white);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

/* Header */
/* header top */
.header-contacts {
  padding: 13px 19px;
  background-color: var(--secondary-background-color-black);
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact,
.login {
  display: flex;
  align-items: center;
}

.login {
  margin-right: 19px;
}

a {
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;

  color: var(--secondary-color-grey);
}
/* header top END */

/* header nav */
.header-nav {
  background-color: var(--main-background-color-darkgrey);
}

.nav-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.nav-list a {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: var(--main-color-white);
}

.nav-list li:hover,
.nav-list li:active {
  background-color: var(--hover-background-color-grey);
  transition: 0.5s;
}

.nav-list li {
  padding: 29px 19px;
}

.nav-icon-phone {
  margin-right: 15px;
  width: 16px;
  height: 16px;
}

.nav-icon-login {
  margin-right: 19px;
  width: 16px;
  height: 16px;
}
/* Header nav END */
/* Header END */

/* Hero*/
.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 810px;
  background: url(../images/hero.jpg) no-repeat center;
}

.hero-logo {
  width: 320px;
  height: 320px;
  margin: 160px auto 80px;
}

.hero-p {
  width: 100%;
  max-width: 730px;
  font-size: 16px;
  line-height: 150%;

  text-align: center;
  text-transform: uppercase;

  margin: 0 auto;
}
/* Hero END */

/* New collection */
.collection {
  display: flex;
}

.new-collection {
  background-color: var(--secondary-background-color-black);
  width: 100%;
  max-width: 1040px;
  display: flex;
  flex-direction: column;
  height: 730px;
}

.new-collection-title {
  margin: 93px auto 0;
}

hr {
  border: 1px solid #ffffff;
  width: 120px;
  margin: 50px auto;
}

.collection-list {
  display: flex;
  margin: 0 auto;
  gap: 50px;
}

.collection-list li {
  margin-bottom: 50px;
}

.collection-img {
  padding: 25px 22px 32px 23px;
  background-color: var(--item-background-color-grey);
  margin-bottom: 25px;
}

.collection-list img {
  width: 215px;
  height: 264px;
}

.collection-list p {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  color: var(--item-color-grey);
}

.item-name {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  margin-bottom: 10px;
}
/* New collection END */

/* New catalog */
.new-catalog {
  background: url(../images/new-collection.jpg) no-repeat center;
  width: 100%;
  max-width: 880px;
  height: 730px;
}

.catalog {
  width: 376px;
  height: 146px;
  margin: 0 auto;
  margin-top: 484px;
  text-align: center;
}

.new-catalog a {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  border: 1px solid #ffffff;
  padding: 11px 26px;

  color: var(--main-color-white);
}

.new-catalog hr {
  margin-top: 21px;
  margin-bottom: 40px;
}

.catalog a:hover {
  opacity: 0.8;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.605);
}
/* New catalog END */

/* Old collection */
.old-collection {
  display: flex;
}

/* Old picture */
.old-picture {
  background: url(../images/2018-collection.jpg) no-repeat center;
  width: 100%;
  max-width: 936px;
  height: 600px;
}
/* Old picture END */

/* Old-catalog */
.old-catalog {
  background-color: var(--secondary-background-color-black);
  width: 100%;
  max-width: 984px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.old-catalog hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.old-catalog p {
  line-height: 150%;
  text-align: center;
}

.old-catalog-content {
  width: 628px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.catalog-title {
  font-weight: 400;
  margin-top: 100px;
}

.old-catalog a {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  border: 1px solid #ffffff;
  padding: 11px 26px;

  color: var(--main-color-white);
  margin: 0 auto;
}

.old-catalog a:hover {
  opacity: 0.8;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.605);
}
/* Old-catalog END */

/* new-items */
.new-items {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-background-color-black);
  width: 100%;
  height: 1290px;
}

.new-items-title {
  margin-top: 120px;
}

.new-items hr {
  margin-top: 40px;
  margin-bottom: 82px;
}

.new-items-list {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}

.new-items-list li {
  margin-bottom: 17px;
}

.new-items-title .collection-img:last-child {
  padding: 0 22px 0 23px;
}

.new-items-list p {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  color: var(--item-color-grey);
}

.new-items-list img {
  width: 215px;
  height: 264px;
}
/* New Items END */

/* Articles */
/* 1-st article */
.articles {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--main-background-color-darkgrey);
  height: 1582px;
}

.articles h2 {
  margin-top: 63px;
}

.articles hr {
  margin-top: 6px;
  margin-bottom: 27px;
}

.article {
  display: flex;
}

.article-img {
  background: url(../images/title1.jpg) no-repeat center;
  width: 100%;
  max-width: 990px;
  height: 437px;
}

.article-container {
  width: 100%;
  max-width: 930px;
  padding-top: 53px;
}

.article-content {
  width: 628px;
  height: 210px;
  margin: 0 auto;
}

.article-content h3 {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.article-content > p {
  margin-bottom: 39px;
  line-height: 150%;
}

.article-content-link {
  display: flex;
  justify-content: space-between;
}

.article-content a {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--main-color-white);

  padding: 11px 27px;
  border: 1px solid #ffffff;
}

.keywords {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--main-color-white);

  margin-top: 24px;
}

.article-content-link a:hover {
  opacity: 0.8;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.605);
}
/* 1-st article END */
/* 2-nd article */
.article-img2 {
  background: url(../images/title2.jpg) no-repeat center;
}

/* 3-d article */
.article-img3 {
  background: url(../images/title3.jpg) no-repeat center;
}
/* Articles END */

/* Partners */
.partners {
  height: 541px;
  display: flex;
  flex-direction: column;
  background-color: var(--main-background-color-darkgrey);
}

.partners h2 {
  margin-top: 90px;
}

.partners hr {
  margin-top: 53px;
  margin-bottom: 74px;
}

.partners-logo {
  display: flex;
  gap: 30px;
  margin: 0 auto;
}
/* Partners END */

/* Footer */
/* About */
footer {
  background: url(../images/footer.jpg) center no-repeat;
  background-size: cover;
}

footer h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;

  color: var(--main-color-white);
  margin-bottom: 40px;
  margin-top: 80px;
}

.about {
  display: flex;
  justify-content: space-between;
}

.about-container {
  width: 351px;
  margin-bottom: 66px;
}

.about-container p {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  color: var(--main-color-white);
}

/* categories */
.categories {
  width: 350px;
  height: 383px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
}

.categories-item {
  padding: 10px 20px;
  background-color: var(--main-background-color-darkgrey);
  margin-right: 6px;
  margin-bottom: 20px;
  cursor: pointer;
}

.categories-item a {
  font-size: 14px;
  line-height: 150%;
  color: var(--item-color-grey);
}

/* subscribe */
.about-container:last-child p {
  margin-bottom: 26px;
}

.subscribe form {
  margin: 0;
  padding: 0;
}

.subscribe-box {
  width: 347px;
  height: 42px;
  display: flex;
}

.subscribe-box input {
  padding: 0px 10px;
  color: var(--main-color-white);
  background: rgba(255, 255, 255, 0.4);
  outline: none;
  width: 190px;
  height: 42px;
  border: none;
}

::placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.subscribe-box button {
  background-color: var(--secondary-background-color-black);
  color: var(--main-color-white);
  padding: 9px 20px;
  cursor: pointer;

  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 150%;
}
/* subscribe END */

/* Footer about */
.footer {
  background-color: var(--secondary-background-color-black);
  padding: 17px 0;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;

  color: #d0d0d0;
}

.footer a {
  text-decoration-line: underline;
}

/* desctop version END */

/* desctop > 1920px*/
@media (max-width: 1920px) {
  .partners {
    height: auto;
  }

  .partners-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
  }
}

/* tablet > 1280px*/
@media (max-width: 1279.98px) {
  .logo {
    margin-left: 19px;
  }

  .collection {
    height: auto;
    display: flex;
    justify-content: center;
    background-color: var(--secondary-background-color-black);
    flex-wrap: wrap;
  }

  .new-collection {
    height: auto;
  }

  .new-catalog {
    background: url(../images/new-collection.jpg) no-repeat center;
    max-width: none;
    background-color: var(--secondary-background-color-black);
  }

  /*  */
  .collection-list {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  /*  */
  .old-collection {
    flex-wrap: wrap;
    justify-content: center;
  }

  .old-picture {
    background-color: var(--secondary-background-color-black);
    max-width: none;
  }

  .old-catalog {
    height: auto;
    max-width: none;
    background: var(--secondary-background-color-black);
  }

  /*  */
  .new-items {
    height: auto;
  }

  .new-items-list {
    justify-content: center;
  }

  .new-items-list li:last-child {
    margin-bottom: 150px;
  }

  .articles {
    height: auto;
  }

  .article {
    flex-wrap: wrap;
    justify-content: center;
  }

  /*  */
  .partners-logo {
    margin-bottom: 50px;
  }

  footer {
    height: auto;
  }

  .about {
    padding: 0 19px;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .footer p {
    margin-left: 19px;
  }

  .footer a {
    margin-right: 19px;
  }
}

/* mobile > 767px*/
@media (max-width: 767px) {
  .nav-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contact {
    margin-bottom: 20px;
  }

  .nav-bottom {
    display: flex;
    flex-wrap: wrap;
  }

  .nav-list {
    flex-wrap: wrap;
  }

  .old-catalog-content {
    width: auto;
    padding: 10px;
  }

  .article {
    height: auto;
  }

  .article-content {
    width: auto;
    height: auto;
    padding: 10px;
  }
  
  .article-content-link {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .partners-logo img {
    width: 50%;
  }

  .subscribe-box input {
    width: 140px;
    margin-left: 10px;
  }

  .subscribe-box button {
    padding: 5px 10px;
  }
}
